@import "tailwindcss";

/* Shimmer effect */
.bg-shimmer {
  background: linear-gradient(
    90deg,
    rgba(180, 180, 180, 0.05) 25%,
    rgba(180, 180, 180, 0.1) 37%,
    rgba(180, 180, 180, 0.05) 63%
  );
  background-size: 400% 100%;
}

@keyframes shimmer {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}

.animate-shimmer {
  animation: shimmer 2s ease-in-out infinite;
}
